.App {
  text-align: center;
}
body{
  background-color: bisque;
  font-family:unset
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: rgb(0, 0, 0,.7);
  color:white;
  margin-bottom: 50px;
 
  font-size: 2em;
}
nav a{
  color:white;
}
a{
  text-decoration: none;
}
/* MAIN PAGE */

.all{
  display: flex;
  justify-content: center;
}
.main-container{
  width: 80%;
  
}
img{
  width: 60%;
}
.recipe{
  border: 2px solid black;
 margin: 10px;
 margin-bottom: 20;
 background-color: rgb(245,247,234);
}
.recipe a{
  color: black;
}

/* SHOW PAGE */
.bs{
  display: flex;
  justify-content: center;
}
.recipe-name{
  font-size: 3em;
}
.show-image{
  width:40%;
}
.show-container{
  width:80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.doubleList{
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  background-color: whitesmoke;
  width: 20%;
}
.ingredients,.quantities{
  list-style: none;
  margin: none
}
.ingredients{
  text-align: left;
}
.quantities{
  text-align: right;
}
button{
  margin: 5px;
}
button:hover{
  cursor: pointer;
}


/* FORMS */


form{
  display: flex;
  flex-direction: column;
  width:80%;
  align-items: center;
}

input{
  width: 100%;
  margin: 10px;
  height:40px;
}

input[type=submit]{
  width:50%;

}
input[type=submit]:hover{
  cursor: pointer;
}