.App {
  text-align: center;
}
nav{
  display: flex;
  justify-content: space-around;
}
/* MAIN PAGE */

.all{
  display: flex;
  justify-content: center;
}
.main-container{
  width: 80%;
}
img{
  width: 60%;
}

/* SHOW PAGE */
.bs{
  display: flex;
  justify-content: center;
}
.recipe-name{
  font-size: 3em;
}
.show-image{
  width:40%;
}
.show-container{
  width:80%;
}
.doubleList{
  display: flex;
  justify-content: center;
}
.ingredients,.quantities{
  list-style: none;
  margin: none
}
.ingredients{
  text-align: left;
}
.quantities{
  text-align: right;
}
button{
  color:red;
  background-color: green;
  transition: .2s ease-in-out;
}
button:hover{
  background-color: red;
  color:green;
  cursor: pointer;
}